

.questions {
    display: none;
}

.question {
    display: flex;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    background-color: #fff;
    margin-bottom: 0.5rem;
    transition: background-color 0.3s;
}


.question:hover {
    background-color: #f1f1f1;
}

.question i {
    margin-right: 10px; /* Add margin to create a gap */
}



.question .fa-minus {
    display: none;
}

.questions:checked + .question .fa-plus {
    display: none;
}

.questions:checked + .question .fa-minus {
    display: inline;
}

.answers {
    display: none;
    padding: 1rem;
    border-top: none;
    background-color: #fff;
}

.questions:checked + .question + .answers {
    display: block;
}

.custom-hr {
    border-top: 3px solid #007bff;
    width: 12%;
    margin: 0.5rem auto;
}
